.Input :invalid {
  border: "red solid 2px";
}

.MuiInputBase-root div {
  display: flex;
  align-items: center;
}

.MuiInputBase-root div .MuiListItemIcon-root {
  align-self: center;
  justify-content: space-around;
}
